/* Estilos personalizados para el Analizador Léxico (Terminal/IDE) */

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.terminal-cursor {
  animation: blink 1s infinite;
  display: inline-block;
  width: 8px;
  height: 15px;
  background-color: #22b455;
  vertical-align: middle;
  margin-left: 4px;
}
