/* Reset básico y scrollbars oscuros estilo IDE */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  background-color: #020204;
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar personalizado estilo IDE (oscuro y verde matrix) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #020204;
}

::-webkit-scrollbar-thumb {
  background: #204829;
  border-radius: 4px;
  border: 2px solid #020204;
}

::-webkit-scrollbar-thumb:hover {
  background: #22b455;
}
